<!doctype html>
<html>
  <head>
    <title>PromptShield</title>
  </head>
  <body>
    <h1>Enter your prompt</h1>
    <form method="POST">
        <textarea name="user_text" placeholder="Type here..." required rows="5" cols="40"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

    {% if original_text %}
      <h2>Original text:</h2>
      <p>{{ original_text }}</p>
    {% endif %}

    {% if anonimized_text %}
      <h2>Anonimized text:</h2>
      <p>{{ anonimized_text }}</p>
    {% endif %}
  </body>
</html>
